  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
  </head>
  <body>
  <header>
    <h1>Welcome to our users' profiles page</h1>
    <p>You can look for users' profiles and save them</p>
    <%= form_with url: "/users", method: :post do |form| %>
    <%= form.label :number, "Number of people to display:" %>
    <%= form.text_field :number %>
    <%= form.submit "Confirm" %>
    <% end %>
  </header>
  </body>
</html>
